
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$client-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($client-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($client-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($client-theme);
/* You can add global styles to this file, and also import other style files */

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  img, video {
    // max-width: initial;
    // height: 100vh;
  }
}

@layer components {
  .header2 {
    @apply text-primary font-bold not-italic text-[32px] leading-[48px] tracking-[-0.64px]
  }

  .input-field {
    @apply bg-white border border-accent text-primary font-normal text-base rounded-xl leading-[24px] tracking-[0.32px] focus:outline focus:outline-inputFocus focus:border-inputFocus block p-[12px] sm:p-[12px]  md:p-[12px] xl:p-[16px] lg:p-[16px] w-full
  }
}

html, body { height: 100%; width: 100%; }
body { margin: 0; padding: 0; font-family: "Inter", "Helvetica Neue", sans-serif; }
