<div
class=""
>
<div
  id="video-container"
>
  <video
    class="video-edit md:h-[750px] lg:h-[750px] xl:h-[750px]"
    autoplay
    loop
    controlsList="nodownload"
  >
    <source
      id="videoPlayerSource"
      src="https://res.cloudinary.com/dr3fzfmwi/video/upload/v1743597417/600x900_sivxki.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <div
    class="video-text absolute sm:mt-[-16rem] sm:ml-[12.6px] md:mt-[-18rem]  md:ml-[33.6px] lg:mt-[-16rem] lg:ml-[57.6px] xl:mt-[-16rem] xl:ml-[57.6px] "
  >
    <div class="logo-container">
      <img
        src="https://res.cloudinary.com/dr3fzfmwi/image/upload/v1743065739/Group_nmpmqq.svg"
        alt="InvestNaija Logo"
      />
    </div>
    <div>
      <span
        class="text-white md:text-[33.6px] xl:text-[41.6px] lg:text-[41.6px] font-bold md:leading-[35.6px] xl:leading-[49.6px] lg:leading-[49.6px] tracking-[-0.832px]"
        >Do much more</span
      >
    </div>
    <div>
      <span
        class="text-white md:text-[33.6px] xl:text-[41.6px] lg:text-[41.6px] font-bold md:leading-[35.6px] xl:leading-[49.6px ] lg:leading-[49.6px] tracking-[-0.832px]"
        >with your money.</span
      >
    </div>
  </div>
</div>
</div>
