#video-container {
  /* width: 200px;
  height: 200px; */
  /* border-radius: 32px !important; */
  overflow: hidden;
  position: relative;
}
.video-edit {
position: relative;
left: 0;
top: 0;
opacity: 1;
box-shadow: 0px 1.6px 12.8px 0px rgba(0, 0, 0, 0.12) !important;
}
